{% include 'partials/header.twig' %}
<div id="content-wrapper_outer">
    <div id="content-wrapper_inner">
        <div id="page-content">
            {% block content %}
                Sorry, no content.
            {% endblock %}
        </div>
        {% include 'partials/sidebar.twig' %}
    </div>
</div>
{% include 'partials/footer.twig' %}