{% extends "templates/base.twig" %}
{% block content %}
    <article id="post-404">
        <h2>Content Not Found</h2>
        Unfortunately this page or post could not be found.
    </article>
{% endblock %}