{% extends "templates/base.twig" %}
{% block content %}
    {% for post in posts %}
        <article id="post-{{ post.id }}">
            <h2>{{ post.title | e }}</h2>
            {{ post.content }}
        </article>
    {% endfor %}
{% endblock %}