/*
 * Mixins for Breakpoints
 * Updated 2/18/16
 */

@mixin mq( $width ){

    @media only screen and ( max-width: $width ) {
        @content;
    }

}

.full-width{
  width: 100%;
}

.fixed-width{
  width: 1600px;
  margin: 0 auto;

  @include mq(1600px){
    width: 95%;
  }
}
