// Misc. resets and fixes


/*Fixes*/

    /*Borderbox*/
        *, *:before, *:after {
            -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
        }

    /*Clearfix*/
        .clearfix:after{
            visibility: hidden;
            display: block;
            content: "";
            clear: both;
            height: 0
        }

        * html .clearfix{ 
            zoom: 1;
        }
        
        *:first-child+html .clearfix{
            zoom: 1;
        }

/*Style Adjustments*/
      body, html{
        margin: 0;
        padding: 0;
      }

    /*Paragraphs*/
        p {
            margin-top: 0;
        }

    /*Horizontal Rule*/
        hr{
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #333333;
            margin: 1em;
            padding: 0;
        }

    /*Navigations*/

        .no-style-list{
          margin: 0;
          padding: 0;
          list-style: none;
          
          li a{
            color: inherit;
            text-decoration: none;
          }
        }
        nav ul{
          @extend .no-style-list;
        }

    /*Forms*/
        div.form--group{
          margin-bottom: .5em;

          label{
            font-weight: bold;
          }

          &.block-label label{
            display: block;
            margin-bottom: .25em;
          }

          &.inline-label label{
            display: inline-block;
            margin-right: .25em;
          }
        }

        label.block{
          display: block;
          margin-bottom: .25em;
          font-weight: bold;
        }

        textarea{
          resize: vertical;
        }


/*Helper Classes*/

    /*Floats*/
        .float--left{
            float: left;
        }

        .float--right{
            float: right;
        }
